body {
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
}
main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  background-color: hsl(10, 79%, 65%);
  color: white;
  width: 300px;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
}
header p {
  color: hsl(33, 100%, 98%);
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
header img {
  height: 75%;
}
article {
  background-color: white;
  width: 300px;
  border-radius: 1rem;
  padding: 1rem;
}

article h2 {
  color: hsl(25, 47%, 15%);
  margin: 0 0 2rem 0;
  font-size: 1.3rem;
}

#my-chart.column {
  height: 200px;
  max-width: 375px;
  margin: 0 auto;
}

#my-chart.column {
  --labels-size: 3rem;
}
#my-chart td {
  border-radius: 10%;
  cursor: pointer;
}
th {
  color: hsl(25, 47%, 15%);
}
td:hover {
  opacity: 50%;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  height: 2rem;
  width: 120px;
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  top: -40px;
  left: -50%;
}

section {
  color: hsl(25, 47%, 15%);
  padding: 1rem 1rem 0.5rem 1rem;
  border-top: 1px solid hsl(27, 66%, 92%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
section p {
  font-size: 12px;
  margin: 0;
}
.spent p {
  text-align: end;
}
.total p {
  text-align: start;
}

section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
